* {
	box-sizing: border-box;
}
html {
	font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
	line-height: 1.5;
}
body {
	padding: 3.5rem;
	background: #f9f9f9;
}
.calendar__container {
	width: 420px;
	position: relative;
	margin: 0 auto;
}
.calendar__main {
	position: relative;
	overflow: hidden;
	z-index: 2;
	border: 1px solid rgba(0,0,0,.05);
	background: white;
	border-radius: 0.5rem;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}
.calendar__header {
	background: white;
	text-align: center;
	border-bottom: 1px solid rgba(0,0,0,.05);
	padding: 1.25rem;
}
.calendar__header-title {
	font-weight: 600;
	font-size: 16px;
	color: #4a5568;
}
.calendar__inner {
	padding: 1rem;
	background: #f7fafc;
}
.calendar__inner-numbers {
	display: grid;
	grid-template-columns: repeat(7,minmax(0,1fr));
}
.calendar__inner-numbers div {
	text-align: center;
	color: #4a5b6f;
	position: relative;
	z-index: 2;
	font-weight: 600;
	padding: 1.25rem;
	transition: all .3s ease;
	font-size: 14px;
	text-align: center;
	border-radius: 0.25rem;
}
.calendar__inner-numbers div:hover {
	background: #38bdf41a;
	cursor: pointer;
}
.calendar__inner-numbers div.active-date {
	color: #38bdf8;
	background: #38bdf81a;
}

.calendar__inner-numbers div.disabled-date {
	color: rgba(0,0,0,.2);
}
.calendar__slide {
	height: 390px;
	width: 400px;
	position: absolute;
	top: 6px;
	z-index: 1;
	transition: all .3s ease;
	left: 10px;
	overflow: scroll;
	border-radius: 0.5rem;
	padding: 3rem;
	border: 1px solid rgba(0,0,0,.05);
	background: white;
}
.calendar__slide.open-slide {
	left: 410px;
	box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
}
.calendar__slide-close {
	position: absolute;
	top: 12px;
	right: 12px;
	border-radius: 6px;
	text-align: center;
	font-weight: 800;
	border: 2px solid rgba(0,0,0,.05);
	background: rgba(0,0,0,.025);
	color: #4a5b6f;
	transition: all .3s ease;
	line-height: 1;
	padding: 12px 16px;
	font-size: 20px;
	display: inline-block;
	padding-bottom: 14px;
}
.calendar__slide-close:hover {
	cursor: pointer;
	background: #4a5b6f;
	color: white;
}
.events {
	display: none;
}
